body{
    background: url("../images/main-bg.jpg") repeat;
}

/*---------------------------Title of page--------------------------*/

.main-title h2, .tag-line {
    min-height: 40px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: -8px;
    padding-top: 14px;
}

/*---------------------------Main game board--------------------------*/

.game-field {
    margin-top: -10px!important;
    width: 600px;
    height: 415px;
    margin: 0 auto; /*Centers the game field*/
    display: flex; /* Keeps everything in the container*/
    flex-wrap: wrap; /* Makes the cards readable*/
    margin-bottom: 10px;
    background: gray;
    background-image: none;
    perspective: 1000px; /*This will add depth to the flipping effect*/
}

.new-field-lose {
    margin-top: -10px!important;
    width: 600px;
    height: 415px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-image: url("../images/you-lose.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.new-field-win {
    margin-top: -10px!important;
    width: 600px;
    height: 415px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-image: url("../images/you-win.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.condition {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bolder;
    margin-top: 30%;
    background-color: black;
    position: absolute
}

/*---------------------------GIF--------------------------*/

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    transition: all .60s;
}

#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

/*---------------------------Cards--------------------------*/

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg); 
}

.face, .back-card {
    width: 138px;
    height: 130px;
    position: absolute;
    -webkit-backface-visibility: hidden; 
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; 
    cursor: pointer;
}

.face {
    z-index: 2;
    -webkit-transform: rotateY(180deg); 
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); 
}

/*---------------------------Buttons--------------------------*/

.btn-reset {
    margin: 0 auto!important;
    background-color: red; 
    border: solid 2px #fff;
    border-radius: 8px;
    color: white;
    padding: 11px 32px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

#btn-instr {
    margin: 20px auto!important;
    background-color: red; 
    border: solid 2px #fff;
    border-radius: 8px;
    color: white;
    padding: 2px 2px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
}

#scoreboard {
    margin: 0 auto!important;
    background-color: red; 
    border: solid 2px #fff;
    border-radius: 8px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding: 2px 4px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
}

/*---------------------------Modal--------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: gray;
    font-family: 'Orbitron', sans-serif;
    margin: 10% auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgb(0,0,0,0.17);
    border: solid 2px red;
    border-radius: 8px;
}

.modal-header {
    text-align: center;
    background-color: black;
    color: red;
    padding: 2px;
}

.modal-content>p {
    text-align: justify;
    margin: 10px;
    padding: 3px;
    color: black;
    font-weight: bold;
}


.btn-close {
    color: white;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.btn-close:hover {
    color: red;
}

/*---------------------------Media Queries--------------------------*/

@media all and (max-width: 1280px) {
    [class*="card"] {
        width: 160px;
        height: 150px;
    }
    .face {
        width: 160px;
        height: 150px;
    }
    .game-field {
        width: 680px;
        height: 499px;
    }
}

@media all and (max-width: 709px) {
    [class*="card"] {
        width: 155px;
        height: 145px;
    }
    .face {
        width: 155px;
        height: 145px;
    }
    .game-field {
        width: 660px;
        height: 475px;
    }
}

@media all and (max-width: 692px) {
    [class*="card"] {
        width: 150px;
        height: 140px;
    }
    .face {
        width: 150px;
        height: 140px;
    }
    .game-field {
        width: 643px;
        height: 454px;
    }
}

@media all and (max-width: 672px) {
    [class*="card"] {
        width: 145px;
        height: 135px;
    }
    .face {
        width: 145px;
        height: 130px;
    }
    .game-field {
        width: 622px;
        height: 443px;
    }
}

@media all and (max-width: 652px) {
    [class*="card"] {
        width: 140px;
        height: 130px;
    }
    .face {
        width: 140px;
        height: 130px;
    }
    .game-field {
        width: 600px;
        height: 430px;
    }
}

@media all and (max-width: 627px) {
    [class*="card"] {
        width: 133px;
        height: 125px;
    }
    .face {
        width: 133px;
        height: 125px;
    }
    .game-field {
        width: 575px;
        height: 410px;
    }
    .condition {
        font-size: 37px;
    }
}

@media all and (max-width: 605px) {
    [class*="card"] {
        width: 118px;
        height: 110px;
    }
    .face {
        width: 118px;
        height: 110px;
    }
    .game-field {
        width: 512px;
        height: 368px;
    }
    .condition {
        font-size: 34px;
    }
}

@media all and (max-width: 526px) {
    [class*="card"] {
        width: 105px;
        height: 100px;
    }
    .face {
        width: 105px;
        height: 100px;
    }
    .game-field {
        width: 461px;
        height: 330px
    }
    .condition {
        font-size: 30px;
    }
}

@media all and (max-width: 474px) {
    [class*="card"] {
        width: 100px;
        height: 95px;
    }
    .face {
        width: 100px;
        height: 95px;
    }
    .game-field {
        width: 440px;
        height: 315px
    }
    .condition {
        font-size: 29px;
    }
}

@media all and (max-width: 453px) {
    [class*="card"] {
        width: 95px;
        height: 90px;
    }
    .face {
        width: 95px;
        height: 90px;
    }
    .game-field {
        width: 421px;
        height: 300px;
    }
    .condition {
        font-size: 28px;
    }
}

@media all and (max-width: 436px) {
    .modal-content>p {
        font-size: 15px;
    }
}

@media all and (max-width: 433px) {
    [class*="card"] {
        width: 90px;
        height: 85px;
    }
    .face {
        width: 90px;
        height: 85px;
    }
    .game-field {
        width: 400px;
        height: 285px;
    }
    .condition {
        font-size: 26px;
    }
}

@media all and (max-width: 413px) {
    [class*="card"] {
        width: 85px;
        height: 80px;
    }
    .face {
        width: 85px;
        height: 80px;
    }
    .game-field {
        width: 380px;
        height: 270px;
    }
    .condition {
        font-size: 25px;
    }
}

@media all and (max-width: 393px) {
    [class*="card"] {
        width: 80px;
        height: 75px;
    }
    .face {
        width: 80px;
        height: 75px;
    }
    .game-field {
        width: 360px;
        height: 255px;
    }
    .condition {
        font-size: 24px;
    }
}

@media all and (max-width: 374px) {
    [class*="card"] {
        width: 75px;
        height: 70px;
    }
    .face {
        width: 75px;
        height: 70px;
    }
    .game-field {
        width: 340px;
        height: 240px;
    }
    .condition {
        font-size: 22px;
    }
}

@media all and (max-width: 368px) {
    .modal-content>p {
        font-size: 14px;
    }
}


@media all and (max-width: 354px) {
    [class*="card"] {
        width: 70px;
        height: 65px;
    }
    .face {
        width: 70px;
        height: 65px;
    }
    .game-field {
        width: 320px;
        height: 225px;
    }
    .condition {
        font-size: 21px;
    }
}

@media all and (max-width: 339px) {
    .btn-reset {
        padding: 7px 21px;
        font-size: 16px;
    }
}

@media all and (max-width: 333px) {
    [class*="card"] {
        width: 65px;
        height: 60px;
    }
    .face {
        width: 65px;
        height: 60px;
    }
    .game-field {
        width: 300px;
        height: 210px;
    }
    .condition {
        font-size: 20px;
    }
}

@media all and (max-width: 313px) {
    [class*="card"] {
        width: 60px;
        height: 55px;
    }
    .face {
        width: 60px;
        height: 55px;
    }
    .game-field {
        width: 280px;
        height: 194px;
    }
    .condition {
        font-size: 18px;
    }
    .btn-reset {
        padding: 5px 19px;
        font-size: 14px;
    }
}

@media all and (max-width: 293px) {
    [class*="card"] {
        width: 55px;
        height: 50px;
    }
    .face {
        width: 55px;
        height: 50px;
    }
    .game-field {
        width: 260px;
        height: 179px;
    }
    .condition {
        font-size: 17px;
    }
    .btn-reset {
        padding: 5px 19px;
        font-size: 14px;
    }
    .modal-content>p {
        font-size: 12px;
    }
}

@media all and (max-width: 273px) {
    [class*="card"] {
        width: 50px;
        height: 45px;
    }
    .face {
        width: 50px;
        height: 45px;
    }
    .game-field {
        width: 240px;
        height: 163px;
    }
    .condition {
        font-size: 15px;
    }
    .btn-reset {
        padding: 5px 19px;
        font-size: 14px;
    }
}

@media all and (max-width: 253px) {
    [class*="card"] {
        width: 45px;
        height: 40px;
    }
    .face {
        width: 45px;
        height: 40px;
    }
    .game-field {
        width: 220px;
        height: 148px;
    }
    .condition {
        font-size: 13px;
    }
    .btn-reset {
        padding: 5px 19px;
        font-size: 14px;
    }
}

@media all and (max-width: 239px) {
    .main-title h2, .tag-line {
        font-size: 18px;
    }
    .tag-line {
        padding-top: 10px;
    }
}

@media all and (max-width: 234px) {
    .btn-reset {
        padding: 5px 19px;
        font-size: 14px;
    }
}

@media all and (max-width: 232px) {
    [class*="card"] {
        width: 40px;
        height: 35px;
    }
    .face {
        width: 40px;
        height: 35px;
    }
    .game-field {
        width: 200px;
        height: 133px;
    }
    .btn-reset {
        padding: 3px 17px;
        font-size: 12px;
    }
}

@media all and (max-width: 213px) {
    [class*="card"] {
        width: 35px;
        height: 30px;
    }
    .face {
        width: 35px;
        height: 30px;
    }
    .game-field {
        width: 180px;
        height: 120px;
    }
    .condition {
        font-size: 11px;
    }
    .btn-reset {
        padding: 3px 17px;
        font-size: 12px;
    }
}

@media all and (max-width: 208px) {
    .modal-content>p {
        font-size: 9px;
    }
}

@media all and (max-width: 193px) {
    [class*="card"] {
        width: 30px;
        height: 25px;
    }
    .face {
        width: 30px;
        height: 25px;
    }
    .game-field {
        width: 160px;
        height: 102px;
    }
    .condition {
        font-size: 9px;
    }
    .btn-reset {
        padding: 1px 15px;
        font-size: 10px;
    }
}

@media all and (max-width: 189px) {
    .main-title h2, .tag-line {
        font-size: 18px;
    }
}

@media all and (max-width: 183px) {
    .modal-content>p {
        font-size: 8px;
        padding: 0;
        margin: 2px;
    }
    .modal-header {
        font-size: 10px;
    }
}

@media all and (max-width: 172px) {
    [class*="card"] {
        width: 25px;
        height: 20px;
    }
    .face {
        width: 25px;
        height: 20px;
    }
    .game-field {
        width: 140px;
        height: 88px;
    }
    .btn-reset {
        padding: 1px 15px;
        font-size: 10px;
    }
}

@media all and (max-width: 153px) {
    [class*="card"] {
        width: 20px;
        height: 15px;
    }
    .face {
        width: 20px;
        height: 15px;
    }
    .game-field {
        width: 120px;
        height: 73px;
    }
    .condition {
        font-size: 7px;
    }
    .btn-reset {
        padding: 1px 15px;
        font-size: 10px;
    }
}

