body{
    background: url("../images/main-bg.jpg") repeat;
}

#main-title, p {
    height: 40px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: -8px;
    padding-top: 15px;
}

.russian-roulette {
    margin-top: 80px;
    width: 600px;
    height: 415px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    background: gray;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.face, .back-card {
    width: 138px;
    height: 130px;
    position: absolute;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg); 
}