body{
    background: url("../images/main-bg.jpg") repeat;
}

#main-title, p {
    height: 40px;
    background-color: black;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: -8px;
    padding-top: 15px;
}

.russian-roulette {
    margin-top: 80px;
    width: 640px;
    height: 640px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
}

.face{
    width: 138px;
    height: 130px;
}