@media all and (max-width: 1125px) and (min-width: 150px) {
    .btn-reset {
        height: 40px;
        width: 35%;
    }
    .footer>p {
        margin-left: 25px;
    }
    .fa-github-square {
        margin-left: 35px;
    }
}

@media all and (max-width: 1024px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 606px;
    }
}

@media all and (max-width: 950px) and (min-width: 150px) {
    .game-field {
        margin-left: 15%;
    }
}

@media all and (max-width: 841px) and (min-width: 150px) {
    .game-field {
        margin-left: 15%;
    }
}

@media all and (max-width: 802px) and (min-width: 150px) {
    .game-field {
        margin-left: 10%;
    }
}

@media all and (max-width: 768px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 264px;
    }
}

@media all and (max-width: 741px) and (min-width: 150px) {
    .game-field {
        margin-left: 5%;
    }
}

@media all and (max-width: 680px) and (min-width: 150px) {
    .game-field {
        margin-left: 2%;
    }
}

@media all and (max-width: 637px) and (min-width: 150px) {
    [class*="card"] {
        width: 133px;
        height: 125px;
    }
    .face {
        width: 133px;
        height: 125px;
    }
}

@media all and (max-width: 637px) and (min-width: 150px) {
    .game-field {
        width: 575px;
        height: 410px;

    }
}

@media all and (max-width: 611px) and (min-width: 150px) {
    [class*="card"] {
        width: 118px;
        height: 110px;
    }
    .face {
        width: 118px;
        height: 110px;
    }
}

@media all and (max-width: 611px) and (min-width: 150px) {
    .game-field {
        margin-left: 5%;
        width: 512px;
        height: 368px
    }
    .btn-reset {
        font-size: 28px;
        height: 38px;
    }
}

@media all and (max-width: 563px) and (min-width: 150px) {
    [class*="card"] {
        width: 105px;
        height: 100px;
    }
    .face {
        width: 105px;
        height: 100px;
    }
}

@media all and (max-width: 563px) and (min-width: 150px) {
    .game-field {
        margin-left: 18px;
        width: 461px;
        height: 330px
    }
    .condition {
        font-size: 35px;
    }
    .btn-reset {
        margin-left: -11px
    }
}

@media all and (max-width: 503px) and (min-width: 150px) {
    [class*="card"] {
        width: 100px;
        height: 95px;
    }
    .face {
        width: 100px;
        height: 95px;
    }
}

@media all and (max-width: 503px) and (min-width: 150px) {
    .game-field {
        width: 440px;
        height: 315px
    }
    .condition {
        font-size: 32px;
    }
    .btn-reset {
        margin-left: 6px;
    }
}

@media all and (max-width: 482px) and (min-width: 150px) {
    [class*="card"] {
        width: 95px;
        height: 90px;
    }
    .face {
        width: 95px;
        height: 90px;
    }
}

@media all and (max-width: 482px) and (min-width: 150px) {
    .game-field {
        width: 421px;
        height: 300px;
    }
    .main-title h2, .tag-line {
        font-size: 22px;
    }
    .condition {
        font-size: 30px;
    }
    .btn-reset {
        margin-bottom: 15px;
        margin-left: 2px;
    }
    .footer>p{
        margin-left: -17px;
    }
    .fa-github-square {
        margin-left: 17px;
    }
}

@media all and (max-width: 463px) and (min-width: 150px) {
    [class*="card"] {
        width: 90px;
        height: 85px;
    }
    .face {
        width: 90px;
        height: 85px;
    }
}

@media all and (max-width: 463px) and (min-width: 150px) {
    .game-field {
        width: 400px;
        height: 285px;
    }
    .btn-reset {
        margin-bottom: 29px;
    }
    .fa-github-square {
        margin-left: -10px;
    }
}

@media all and (max-width: 448px) and (min-width: 150px) {
    [class*="card"] {
        width: 85px;
        height: 80px;
    }
    .face {
        width: 85px;
        height: 80px;
    }
}

@media all and (max-width: 448px) and (min-width: 150px) {
    .game-field {
        width: 380px;
        height: 270px;
    }
    .btn-reset {
        margin-bottom: 44px;
        margin-left: -17px
    }

}

@media all and (max-width: 443px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 23px;
    }
    .btn-reset {
        margin-left: 6px;
    }
}

@media all and (max-width: 433px) and (min-width: 150px) {
    .btn-reset {
        font-size: 20px;
    }
}

@media all and (max-width: 418px) and (min-width: 150px) {
    [class*="card"] {
        width: 80px;
        height: 75px;
    }
    .face {
        width: 80px;
        height: 75px;
    }
}

@media all and (max-width: 418px) and (min-width: 150px) {
    .game-field {
        width: 360px;
        height: 255px;
    }
    .condition {
        font-size: 27px;
    }
    .btn-reset {
        margin-bottom: 59px;
    }
}

@media all and (max-width: 414px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 138px;
    }
    .main-title h2, .tag-line {
        font-size: 22px;
    }
}

@media all and (max-width: 411px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 255px;
    }
    .main-title h2, .tag-line {
        padding: 0;
    }
}

@media all and (max-width: 407px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 21px;
    }
}

@media all and (max-width: 402px) and (min-width: 150px) {
    [class*="card"] {
        width: 75px;
        height: 70px;
    }
    .face {
        width: 75px;
        height: 70px;
    }
}

@media all and (max-width: 402px) and (min-width: 150px) {
    .game-field {
        margin-left: 5px;
        width: 340px;
        height: 240px;
    }
    .condition {
        font-size: 24px;
    }
    .btn-reset {
        margin-bottom: 74px;
        margin-left: -6px;
    }
}

@media all and (max-width: 375px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 259px;
        margin-left: -10px;
    }
    .main-title h2, .tag-line {
        font-size: 19px;
    }
}

@media all and (max-width: 375px) and (min-width: 150px) {
    .tag-line {
        padding: 0;
    }
}

@media all and (max-width: 369px) and (min-width: 150px) {
    [class*="card"] {
        width: 70px;
        height: 65px;
    }
    .face {
        width: 70px;
        height: 65px;
    }
}

@media all and (max-width: 369px) and (min-width: 150px) {
    .game-field {
        width: 320px;
        height: 225px;
    }
    .condition {
        font-size: 24px;
    }
    .btn-reset {
        margin-bottom: 113px;
        margin-left: -6px;
    }
}

@media all and (max-width: 360px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 102px;
    }
}

@media all and (max-width: 337px) and (min-width: 150px) {
    [class*="card"] {
        width: 65px;
        height: 60px;
    }
    .face {
        width: 65px;
        height: 60px;
    }
}

@media all and (max-width: 337px) and (min-width: 150px) {
    .game-field {
        width: 300px;
        height: 210px;
    }
    .condition {
        font-size: 22px;
    }
    .main-title h2 {
        font-size: 19px;
        padding-bottom: 5px
    }
    .tag-line {
        padding-bottom: 10px;
    }
}

@media all and (max-width: 324px) and (min-width: 150px) {
    .btn-reset {
        font-size: 18px;
        height: 36px;
        margin-bottom: 50px
    }
    .footer>p {
        font-size: 15px
    }
    .main-title h2, .tag-line {
        font-size: 15px;
        padding: 0;    
    }
}

@media all and (max-width: 313px) and (min-width: 150px) {
    [class*="card"] {
        width: 60px;
        height: 55px;
    }
    .face {
        width: 60px;
        height: 55px;
    }
}

@media all and (max-width: 313px) and (min-width: 150px) {
    .game-field {
        width: 280px;
        height: 194px;
    }
    .condition {
        font-size: 20px;
    }
    .btn-reset {
        margin-bottom: 140px;
    }
    .footer>p {
        font-size: 12px;
    }
}

@media all and (max-width: 293px) and (min-width: 150px) {
    [class*="card"] {
        width: 55px;
        height: 50px;
    }
    .face {
        width: 55px;
        height: 50px;
    }
}

@media all and (max-width: 293px) and (min-width: 150px) {
    .game-field {
        width: 260px;
        height: 178px;
    }
    .condition {
        font-size: 18px;
    }
    .btn-reset {
        margin-bottom: 156px;
        font-size: 16px;
    }
}

@media all and (max-width: 290px) and (min-width: 150px) {
    .btn-reset {
        font-size: 16px;
        height: 33px;
        margin-bottom: 159px
    }
}

@media all and (max-width: 273px) and (min-width: 150px) {
    [class*="card"] {
        width: 50px;
        height: 45px;
    }
    .face {
        width: 50px;
        height: 45px;
    }
}

@media all and (max-width: 273px) and (min-width: 150px) {
    .game-field {
        width: 240px;
        height: 163px;
    }
    .condition {
        font-size: 15px;
    }
    .btn-reset {
        margin-bottom: 174px;
    }
}

@media all and (max-width: 270px) and (min-width: 150px) {
    .btn-reset{
        font-size: 14px;
    }
}

@media all and (max-width: 261px) and (min-width: 150px) {
    .btn-reset {
        font-size: 14px;
        height: 30px;
        margin-bottom: 177px;
    }
}

@media all and (max-width: 253px) and (min-width: 150px) {
    [class*="card"] {
        width: 45px;
        height: 40px;
    }
    .face {
        width: 45px;
        height: 40px;
    }
}

@media all and (max-width: 253px) and (min-width: 150px) {
    .game-field {
        width: 220px;
        height: 148px;
    }
    .condition {
        font-size: 10px
    }
    .tag-line {
        padding-bottom: 25px;
    }
}

@media all and (max-width: 240px) and (min-width: 150px) {
    [class*="card"] {
        width: 40px;
        height: 35px;
    }
    .face {
        width: 40px;
        height: 35px;
    }
}

@media all and (max-width: 240px) and (min-width: 150px) {
    .game-field {
        width: 200px;
        height: 133px;
    }
    .btn-reset {
        margin-bottom: 192px;
        font-size: 12px;
    }
}

@media all and (max-width: 233px) and (min-width: 150px) {
    .btn-reset {
        font-size: 11px;
        height: 27px;
        margin-bottom: 180px;
    }
}

@media all and (max-width: 224px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 19px;
        padding-bottom: 10px;
    }
}

@media all and (max-width: 224px) and (min-width: 150px) {
    .btn-reset {
        margin-bottom: 190px;
    }
}

@media all and (max-width: 220px) and (min-width: 150px) {
    [class*="card"] {
        width: 35px;
        height: 30px;
    }
    .face {
        width: 35px;
        height: 30px;
    }
}

@media all and (max-width: 220px) and (min-width: 150px) {
    .game-field {
        width: 180px;
        height: 120px;
    }
    .btn-reset {
        margin-bottom: 203px;
    }
}

@media all and (max-width: 205px) and (min-width: 150px) {
    .btn-reset {
        font-size: 10px;
    }
}

@media all and (max-width: 200px) and (min-width: 150px) {
    .btn-reset {
        font-size: 10px;
        height: 24px;
        margin-bottom: 206px;
    }
}

@media all and (max-width: 198px) and (min-width: 150px) {
    [class*="card"] {
        width: 30px;
        height: 25px;
    }
    .face {
        width: 30px;
        height: 25px;
    }
}

@media all and (max-width: 198px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 17px;
    }
    .game-field {
        width: 160px;
        height: 104px;
    }
    .btn-reset {
        margin-bottom: 222px;
    }
}

@media all and (max-width: 193px) and (min-width: 150px) {
    .btn-reset {
        font-size: 9px;
    }
}

@media all and (max-width: 181px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 15px;
        padding-bottom: 10px;
    }
}

@media all and (max-width: 179px) and (min-width: 150px) {
    [class*="card"] {
        width: 25px;
        height: 20px;
    }
    .face {
        width: 25px;
        height: 20px;
    }
}

@media all and (max-width: 179px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        font-size: 17px;
    }
    .game-field {
        width: 140px;
        height: 88px;
    }
    .btn-reset {
        margin-bottom: 238px;
        font-size: 8px;
    }
}

@media all and (max-width: 170px) and (min-width: 150px) {
    [class*="card"] {
        width: 20px;
        height: 15px;
    }
    .face {
        width: 20px;
        height: 15px;
    }
}

@media all and (max-width: 170px) and (min-width: 150px) {
    .main-title h2, .tag-line {
        padding-bottom: 18px;
        font-size: 15px;
    }
    .btn-reset {
        font-size: 7px;
        height: 30px;
        margin-bottom: 231px;
        margin-left: 0px;
    }
    .footer>p{
        margin-left: 1px
    }
    .game-field {
        width: 120px;
        height: 73px;
    }
}

@media all and (max-width: 150px) and (min-width: 150px) {
    .btn-reset {
        font-size: 6px;
        margin-bottom: 231px;
    }
    .game-field {
        margin-left: 2px;
    }
}