@media screen and (min-width:150px) and (max-width:990px) {
    .main-title h2, .tag-line {
        height: 100%;
        width: 100%;
        font-size: 100%;
        padding-right: 100%;
    }
    .tag-line {
        padding-bottom: 10px;
    }
}

@media all and (max-width: 950px) and (min-width: 150px) {
    .game-field {
        margin-left: 15%;
    }
}

@media all and (max-width: 841px) and (min-width: 150px) {
    .game-field {
        margin-left: 15%;
    }
}

@media all and (max-width: 802px) and (min-width: 150px) {
    .game-field {
        margin-left: 10%;
    }
}

@media all and (max-width: 741px) and (min-width: 150px) {
    .game-field {
        margin-left: 5%;
    }
}

@media all and (max-width: 680px) and (min-width: 150px) {
    .game-field {
        margin-left: 2%;
    }
}

@media all and (max-width: 634px) and (min-width: 150px) {
    [class*="card"] {
        width: 133px;
        height: 125px;
    }
    .face {
        width: 133px;
        height: 125px;
    }
}

@media all and (max-width: 634px) and (min-width: 150px) {
    .game-field {
        width: 575px;
        height: 410px;

    }
}

@media all and (max-width: 610px) and (min-width: 150px) {
    [class*="card"] {
        width: 118px;
        height: 110px;
    }
    .face {
        width: 118px;
        height: 110px;
    }
}

@media all and (max-width: 610px) and (min-width: 150px) {
    .game-field {
        margin-left: 5%;
        width: 512px;
        height: 368px
    }
}

@media all and (max-width: 560px) and (min-width: 150px) {
    [class*="card"] {
        width: 105px;
        height: 100px;
    }
    .face {
        width: 105px;
        height: 100px;
    }
}

@media all and (max-width: 560px) and (min-width: 150px) {
    .game-field {
        margin-left: 18px;
        width: 461px;
        height: 330px
    }
}

@media all and (max-width: 493px) and (min-width: 150px) {
    [class*="card"] {
        width: 100px;
        height: 95px;
    }
    .face {
        width: 100px;
        height: 95px;
    }
}

@media all and (max-width: 493px) and (min-width: 150px) {
    .game-field {
        width: 440px;
        height: 315px
    }
}

@media all and (max-width: 474px) and (min-width: 150px) {
    [class*="card"] {
        width: 95px;
        height: 90px;
    }
    .face {
        width: 95px;
        height: 90px;
    }
}

@media all and (max-width: 474px) and (min-width: 150px) {
    .game-field {
        width: 421px;
        height: 300px;
    }
}

@media all and (max-width: 454px) and (min-width: 150px) {
    [class*="card"] {
        width: 90px;
        height: 85px;
    }
    .face {
        width: 90px;
        height: 85px;
    }
}

@media all and (max-width: 454px) and (min-width: 150px) {
    .game-field {
        width: 400px;
        height: 285px;
    }
}

@media all and (max-width: 448px) and (min-width: 150px) {
    [class*="card"] {
        width: 85px;
        height: 80px;
    }
    .face {
        width: 85px;
        height: 80px;
    }
}

@media all and (max-width: 448px) and (min-width: 150px) {
    .game-field {
        width: 380px;
        height: 270px;
    }
}

@media all and (max-width: 418px) and (min-width: 150px) {
    [class*="card"] {
        width: 80px;
        height: 75px;
    }
    .face {
        width: 80px;
        height: 75px;
    }
}

@media all and (max-width: 418px) and (min-width: 150px) {
    .game-field {
        width: 360px;
        height: 255px;
    }
}

@media all and (max-width: 394px) and (min-width: 150px) {
    [class*="card"] {
        width: 75px;
        height: 70px;
    }
    .face {
        width: 75px;
        height: 70px;
    }
}

@media all and (max-width: 394px) and (min-width: 150px) {
    .game-field {
        margin-left: 5px;
        width: 340px;
        height: 240px;
    }
}

@media all and (max-width: 353px) and (min-width: 150px) {
    [class*="card"] {
        width: 70px;
        height: 65px;
    }
    .face {
        width: 70px;
        height: 65px;
    }
}

@media all and (max-width: 353px) and (min-width: 150px) {
    .game-field {
        width: 320px;
        height: 225px;
    }
}

@media all and (max-width: 337px) and (min-width: 150px) {
    [class*="card"] {
        width: 65px;
        height: 60px;
    }
    .face {
        width: 65px;
        height: 60px;
    }
}

@media all and (max-width: 337px) and (min-width: 150px) {
    .game-field {
        width: 300px;
        height: 210px;
    }
}

@media all and (max-width: 313px) and (min-width: 150px) {
    [class*="card"] {
        width: 60px;
        height: 55px;
    }
    .face {
        width: 60px;
        height: 55px;
    }
}

@media all and (max-width: 313px) and (min-width: 150px) {
    .game-field {
        width: 280px;
        height: 194px;
    }
}

@media all and (max-width: 293px) and (min-width: 150px) {
    [class*="card"] {
        width: 55px;
        height: 50px;
    }
    .face {
        width: 55px;
        height: 50px;
    }
}

@media all and (max-width: 293px) and (min-width: 150px) {
    .game-field {
        width: 260px;
        height: 178px;
    }
}

@media all and (max-width: 273px) and (min-width: 150px) {
    [class*="card"] {
        width: 50px;
        height: 45px;
    }
    .face {
        width: 50px;
        height: 45px;
    }
}

@media all and (max-width: 273px) and (min-width: 150px) {
    .game-field {
        width: 240px;
        height: 163px;
    }
}

@media all and (max-width: 253px) and (min-width: 150px) {
    [class*="card"] {
        width: 45px;
        height: 40px;
    }
    .face {
        width: 45px;
        height: 40px;
    }
}

@media all and (max-width: 253px) and (min-width: 150px) {
    .game-field {
        width: 220px;
        height: 148px;
    }
}